version: 2
updates:
  - package-ecosystem: "swift:package"
    directory: "/" 
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
